/* DIN Next LT Pro Font Family */

/* Regular */
@font-face {
	font-family: "DINNextLTPro-Regular";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	size-adjust: 120%;
	font-display: swap;
}

/* Bold */
@font-face {
	font-family: "DINNextLTPro-Bold";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	size-adjust: 120%;
	font-display: swap;
}

/* Black */
@font-face {
	font-family: "DINNextLTPro-Black";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	size-adjust: 120%;
	font-display: swap;
}

/* Black Italic */
@font-face {
	font-family: "DINNextLTPro-BlackItalic";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-BlackItalic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
	size-adjust: 120%;
	font-display: swap;
}

/* Bold Italic */
@font-face {
	font-family: "DINNextLTPro-BoldItalic";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	size-adjust: 120%;
	font-display: swap;
}

/* Heavy */
@font-face {
	font-family: "DINNextLTPro-Heavy";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-Heavy.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	size-adjust: 120%;
	font-display: swap;
}

/* Heavy Italic */
@font-face {
	font-family: "DINNextLTPro-HeavyItalic";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-HeavyItalic.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
	size-adjust: 120%;
	font-display: swap;
}

/* Italic */
@font-face {
	font-family: "DINNextLTPro-Italic";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	size-adjust: 120%;
	font-display: swap;
}

/* Light */
@font-face {
	font-family: "DINNextLTPro-Light";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	size-adjust: 120%;
	font-display: swap;
}

/* Light Condensed */
@font-face {
	font-family: "DINNextLTPro-LightCondensed";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-LightCondensed.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-stretch: condensed;
	size-adjust: 120%;
	font-display: swap;
}

/* Medium */
@font-face {
	font-family: "DINNextLTPro-Medium";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	size-adjust: 120%;
	font-display: swap;
}

/* Medium Condensed */
@font-face {
	font-family: "DINNextLTPro-MediumCond";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-MediumCond.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-stretch: condensed;
	size-adjust: 120%;
	font-display: swap;
}

/* Medium Italic */
@font-face {
	font-family: "DINNextLTPro-MediumItalic";
	src: url("https://cdn.jsdelivr.net/gh/mac-isp/styles@main/DIN%20Next%20LT%20Pro/DINNextLTPro-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	size-adjust: 120%;
	font-display: swap;
}

body {
	font-family: 'DIN Next LT Pro Regular', sans-serif !important;
	font-size: 14px;
	color: #252525;
	line-height: 1.5;
}
table td:nth-child(1) {
	width: 90px;
}
table td:nth-child(2) {
	width: 140px;
}
table td:nth-child(3) {
	width: 90px;
}
ol {
	font-size: 14px;
}
a:link {
	color: #01426A;
}
a:visited {
	color: #01426A;
}
a:hover {
	color: #D44420;
}
ul ol{
	font-family: 'DIN Next LT Pro Regular', sans-serif !important;
}
h2 {
	font-weight: bold;
	margin: 20px 0px 10px 0px;
}
h3 {
	font-weight: normal;
	margin: 20px 0px 5px 0px;
}
.container {
	padding: 20px;
	max-width: 90%;
	margin: auto;
}
.container2 {
	padding: 5px 20px;
	max-width: 100%;
	margin: 20px;
	border:4px solid #D44420;
}
.header {
	background-color: #01426A;
	color: #FFFFFF;
	padding: 5px 20px 20px 20px;
}
.content {
	margin-top: 20px;
}

